@model IEnumerable<Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Browse", "Product", new { cat = item.Name }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategorieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategorieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategorieID })
        </td>
    </tr>
}

</table>
